<h2>Most Recent Film Reviews</h2>
<div class="recent-reviews-container">
<% commented_on.reviews.order('reviews.created_at DESC').each do |review| %>
  <%= render partial: 'reviews/review', locals: {review: review} %>
<hr />

<% end %>
</div>