<h1>Most Recent Film Reviews</h1>
<% @film.reviews.order('reviews.created_at DESC').each do |review| %>
<p><strong><%= link_to review.review_title, review_path(review) %></strong></p>
<strong>Made By: <%= review.user.username %></strong>
<p><%= review.review_content %></p>
<br>
<% if review.recommend %>
  <section class="review-status"><%= review.user.username %> recommended this movie</section>
<% end %>
<hr />

<% end %>