/*
Header color #ff5a5f
*/
html {

}

.col-md-6 img {
  width:30%;
}
.header{
  background-color: #ff5a5f;
  margin:0px;
  padding-top: 30px;
  padding-bottom: 30px;
}
body{
  margin:0px; 
  margin-top: 0px;
  background-image: url('no-country-for-old-men.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.header h1{
  font-size: 16px;
  margin-top: 30px;

}
.header h1 a{
  color: #FFFFFF;
  text-decoration: none;

}
.nav li {
  display: inline-block;
  padding: 16px;
  float: right;

}

.nbtn a{
  border-radius: 4px;
  align: right;
  font-family: Arial;
  color: #FFFFFF;
  font-size: 12px;
  text-align: center;
  background: none;
  border: solid #FFFFFF 2px;
  text-decoration: none;
  transition: background .65s ease;
}
.nbtn a:hover{
   color:#ff5a5f;
}

