@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
/*
Header color #ff5a5f
*/
form {

  margin:auto;
}

.film-package {

}

.movie-comment-container, .movie-review-container {
  width:80%;
  margin:auto;
}


.film-image {
  padding-bottom: 1em;
}

.film-image img {
  border-radius: 8px;
  box-shadow: 5px 5px 5px black;
}



.rating-container {
  padding-bottom: 2em;
}

main {
  width:70%;
  margin: auto;
  background-color: white;
  padding-top: 1em;
}

.film-title {
  text-align: center;
  color:black;
  font-family: 'Droid Serif', serif;
  border:2px solid rgb(251, 66, 74);
  border-radius: 7px;
  width:25%;
  background-color: rgb(242,242,242);
}
.col-md-6 img {
  width:30%;
}
.header{
  background-color: #ff5a5f;
  margin:0px;
  padding-top: 30px;
  padding-bottom: 30px;
}
body{
  margin:0px; 
  margin-top: 0px;
  background-image: url('no-country-for-old-men.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.header h1{
  font-size: 16px;
  margin-top: 30px;

}
.header h1 a{
  color: #FFFFFF;
  text-decoration: none;

}
.nav li {
  display: inline-block;
  padding: 16px;
  float: right;

}

.nbtn a{
  border-radius: 4px;
  align: right;
  font-family: Arial;
  color: #FFFFFF;
  font-size: 12px;
  text-align: center;
  background: none;
  border: solid #FFFFFF 2px;
  text-decoration: none;
  transition: background .65s ease;
}
.nbtn a:hover{
   color:#ff5a5f;
}

