.cat-heading{
  text-align: center;
  font-size: 19px;
  padding-top: 40px;
  color: #FFFFFF;
}
.text-lead{
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 40px;
}

.bxslider{
  height: 400px;
}

.category-list {
  margin-top: 40px;
  margin-left:150px;
  margin-bottom: 50px;
  color:#FFF;
}

.category-list a {
  color:#FFF;
}