.cat-heading{
  text-align: center;
  font-size: 19px;
  padding-top: 40px;
}
.text-lead{
  text-align: center;
  padding-bottom: 40px;
}

.bxslider{
  height: 400px;
}

.category-list {
  margin-top: 40px;
  margin-left:120px;
  margin-bottom: 40px;
}