<h2 class="cat-heading">
<span>Hits for the weekend</span>
</h2>
<p class="text-lead">Discover new, inspiring movies at home.</p>

<ul class="bxslider">
  <li><img src="http://t0.gstatic.com/images?q=tbn:ANd9GcSb0Y7-yhSfUlu85u2RcdZArCg6UYCxkNsOducy4f-RMHD9fdkl" /></li>

  <li><img src=" http://t1.gstatic.com/images?q=tbn:ANd9GcTm52BWbxXmwOpfz5rmx0BNBj79kSQoGpYPq4TVt07Jel5En6aC" /></li>
  <li><img src="http://ia.media-imdb.com/images/M/MV5BMTc2NjMzOTE3Ml5BMl5BanBnXkFtZTcwMDE0OTc5Mw@@._V1__SX1219_SY519_.jpg" /></li>
   <li><img src="http://t1.gstatic.com/images?q=tbn:ANd9GcR-fLY3Z9Vn28UB-A3X_w0vjmkHcXG89HWwul5w6-sg3IonPXA_" /></li>
  <li><img src="http://t0.gstatic.com/images?q=tbn:ANd9GcQZKZtrlY3dnzsjBIGKR_b1QhkgZfM4-FIcH61uHnLQRR3WpNhk" /></li>
</ul>

<h2 class="cat-heading">
<span>Categories</span>
</h2>
<div class="row category-list">
  <% @categories.each do |category| %> 
    <div class="col-sm-2 ">
      <span class='category-position'><strong> <%= link_to "#{category.name}", category_path(category.id) %></strong></span><br />
      <% category.films.each do |film| %>
         <span> <%= link_to "#{film.title}", film_path(film.id) %> </span><br />
      <% end %>
    </div>
  <% end %> 
</div>