<h2 class="cat-heading">
<span>Hits for the weekend</span>
</h2>
<p class="text-lead">Discover new, inspiring places close to home.</p>

<ul class="bxslider">
  <li><img src="http://ia.media-imdb.com/images/M/MV5BMTc2NjMzOTE3Ml5BMl5BanBnXkFtZTcwMDE0OTc5Mw@@._V1__SX1219_SY519_.jpg" /></li>
  <li><img src="http://ia.media-imdb.com/images/M/MV5BMTQxODE3NjM1Ml5BMl5BanBnXkFtZTcwMzkzNjc4OA@@._V1__SX1219_SY519_.jpg" /></li>
  <li><img src="http://ia.media-imdb.com/images/M/MV5BMTc2NjMzOTE3Ml5BMl5BanBnXkFtZTcwMDE0OTc5Mw@@._V1__SX1219_SY519_.jpg" /></li>
  <li><img src="http://ia.media-imdb.com/images/M/MV5BMTQxODE3NjM1Ml5BMl5BanBnXkFtZTcwMzkzNjc4OA@@._V1__SX1219_SY519_.jpg" /></li>
</ul>
<h2 class="cat-heading">
<span>Categories</span>
</h2>

<ul class="category-list">
<% @categories.each do |category| %> 
    <li> <%= link_to "#{category.name}", category_path(category.id) %></li>
    <ol>
    <% category.films.each do |film| %>
    <li> <%= link_to "#{film.title}", film_path(film.id) %></li>
    <% end %>
    </ol>
<% end %>
</ul>

