<h2 class="cat-heading">
Category: <%= @category.name %>
</h2>

<ul class="category-list">
  <% @category.films.each do |film| %>
  <li> <%= link_to "#{film.title}", film_path(film.id) %></li>
  <% end %>
</ul>