<%= form_for review do |f| %>
  <div class="form-group">
    <%= f.text_field :review_title, class: "form-group", placeholder: "Review Title" %>
    <%= f.text_area :review_content, class: "form-group", placeholder: "Review Content" %>
  </div>

  <%= f.submit "Create Comment", class: "btn btn-primary" %>
<% end %>