<h1>Title:<%= @review.review_title.capitalize %></h1>
<div>
  <strong>Film: <%= @review.film.title %></strong>
</div>
<div>
  <strong>Made By:<%= @review.user.username %></strong>
</div>
<p>Thoughts: <%= @review.review_content %></p>

<p>Would you recommend this film?
  <% if @review.recommend %>
    Yes!
  <% else %>
    Gosh No!
  <% end %>
</p>
